<h1> <%= @place ["name"] %> </h1>


<p>
<a href="/places"> Back to all places </a>


<br></br>
<% for post in @posts %>

    <p> <h3>
    <%=post ["title"]%>
    </h3>
    </p>
    <p> <h5><%=post ["posted_on"]%> </h5>
    </p>  
    <p>
        <%=post ["description"]%>
    </p>
<br></br>

<%end%>

</ul>

<p>
<h4>
<a href="/posts/new?place_id=<%= @place["id"] %>"> New Post <%= @place ["name"]%> </a>
</h4>
</p>